<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="CSS/style.css" />
  </head>
  <body>
      <div class="w3-container w3-teal">
        <h1>Login</h1>
      </div>
      <form class="w3-container w3-card-4" action="/login" method="POST">
        <p>
        <label class="w3-text" for="email">Email</label>
        <input class="w3-input w3-border" type="text" id="email" name="email" required />
        <p>
        <label class="w3-text" for="password">Password</label>
        <input class="w3-input w3-border" type="text" id="password" name="password" required />
        <p>
        <button class="w3-btn w3-teal" type="submit">Login</button>
        <p>
        <a href="/register">Create Login</a>
      </form>
      <div class="w3-container"><% if (messages.error) { %> <%= messages.error %> <% } %></div>
  </body>
</html>
